<a href="https://colab.research.google.com/github/isha409/isha/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# prompt: load the libs for EDA

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [1]:
# prompt: load the data

import pandas as pd
# Assuming the data is in a CSV file named 'data.csv' in your current directory.
# Replace 'data.csv' with the actual file name and path if needed.
try:
  data = pd.read_csv('/content/archive.zip')
  print("Data loaded successfully.")
  # You can now work with the 'data' DataFrame. For example:
  # print(data.head())
except FileNotFoundError:
  print("Error: 'data.csv' not found. Please make sure the file exists in the correct location.")
except pd.errors.EmptyDataError:
  print("Error: 'data.csv' is empty.")
except pd.errors.ParserError:
  print("Error: Could not parse 'data.csv'. Please check the file format.")
except Exception as e:
  print(f"An unexpected error occurred: {e}")

Data loaded successfully.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17955 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Position                  18207 non-null  object
 13  Joined                    18207 non-null  int64
 14  Contract Valid Until      17918 non-null  object
 15  Height                    18207 non-null  float64
 16  Weight                    18207 non-null  float64
 17  Release Clause            18207 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

In [5]:
data.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,17955.000000,18207.000000,18159.000000,18159.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,66.238699,71.307299,2444.530214,9.731312,1.113222,2.361308,2016.420607,5.946771,165.979129,4585.060971
std,29965.244204,4.669943,6.908930,6.136496,5626.715434,21.999290,0.394031,0.756164,2.018194,0.220514,15.572775,10630.414430
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.500000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236529.500000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

In [6]:
data.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

In [7]:
# prompt: check  missing duplicate values of the data

# Check for missing values
missing_values = data.isnull().sum()
print("Missing values:\n", missing_values)

# Check for duplicate rows
duplicate_rows = data.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_rows)

# Display duplicate rows (optional)
# duplicate_rows_df = data[data.duplicated(keep=False)]
# print("\nDuplicate rows:\n", duplicate_rows_df)


# Analyze specific columns for duplicates (example with 'column_name')
# Replace 'column_name' with the actual column you want to check
# duplicate_in_column = data['column_name'].duplicated().sum()
# print(f"\nNumber of duplicates in 'column_name': {duplicate_in_column}")

# Handle missing values (example: fill with mean)
# data['column_with_missing_values'].fillna(data['column_with_missing_values'].mean(), inplace=True)

# Handle duplicate rows (example: remove duplicates)
# data.drop_duplicates(inplace=True)

Missing values:
 ID                            0
Name                          0
Age                           0
Nationality                   0
Overall                       0
Potential                     0
Club                        241
Value                       252
Wage                          0
Preferred Foot                0
International Reputation     48
Skill Moves                  48
Position                      0
Joined                        0
Contract Valid Until        289
Height                        0
Weight                        0
Release Clause                0
dtype: int64

Number of duplicate rows: 0

In [14]:
# prompt: clean the data

import pandas as pd
import numpy as np
# Handle missing values (example: fill with mean for numerical, mode for categorical)
for col in data.columns:
    if pd.api.types.is_numeric_dtype(data[col]):
        data[col].fillna(data[col].mean(), inplace=True)
    elif pd.api.types.is_categorical_dtype(data[col]):
        data[col].fillna(data[col].mode()[0], inplace=True)
    else:
      #Handle other data types as needed (e.g., string imputation)
      data[col].fillna('Unknown', inplace=True)


# Remove duplicate rows
data.drop_duplicates(inplace=True)

#Check for inconsistent data types
for col in data.columns:
    print(f"Column '{col}': {data[col].dtype}")

# Convert data types if needed
# Example: Convert a column to datetime
# data['date_column'] = pd.to_datetime(data['date_column'], errors='coerce')

# Example: Convert a column to numeric, coercing errors to NaN
# data['numeric_column'] = pd.to_numeric(data['numeric_column'], errors='coerce')

#Outlier handling (example: using IQR method)
#for col in data.select_dtypes(include=np.number):
#    Q1 = data[col].quantile(0.25)
#    Q3 = data[col].quantile(0.75)
#    IQR = Q3 - Q1
#    lower_bound = Q1 - 1.5 * IQR
#    upper_bound = Q3 + 1.5 * IQR
#    data = data[(data[col] >= lower_bound) & (data[col] <= upper_bound)]


#Re-check for missing values and duplicates after cleaning
missing_values_after_cleaning = data.isnull().sum()
print("Missing values after cleaning:\n", missing_values_after_cleaning)

duplicate_rows_after_cleaning = data.duplicated().sum()
print("\nNumber of duplicate rows after cleaning:", duplicate_rows_after_cleaning)

data.info()
data.describe()
data.head()

Column 'ID': int64
Column 'Name': object
Column 'Age': int64
Column 'Nationality': object
Column 'Overall': int64
Column 'Potential': int64
Column 'Club': object
Column 'Value': float64
Column 'Wage': float64
Column 'Preferred Foot': object
Column 'International Reputation': float64
Column 'Skill Moves': float64
Column 'Position': object
Column 'Joined': int64
Column 'Contract Valid Until': object
Column 'Height': float64
Column 'Weight': float64
Column 'Release Clause': float64
Missing values after cleaning:
 ID                          0
Name                        0
Age                         0
Nationality                 0
Overall                     0
Potential                   0
Club                        0
Value                       0
Wage                        0
Preferred Foot              0
International Reputation    0
Skill Moves                 0
Position                    0
Joined                      0
Contract Valid Until        0
Height                      0
Weight                      0
Release Clause              0
dtype: int64

Number of duplicate rows after cleaning: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17907 entries, 0 to 17906
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        17907 non-null  int64
 1   Name                      17907 non-null  object
 2   Age                       17907 non-null  int64
 3   Nationality               17907 non-null  object
 4   Overall                   17907 non-null  int64
 5   Potential                 17907 non-null  int64
 6   Club                      17907 non-null  object
 7   Value                     17907 non-null  float64
 8   Wage                      17907 non-null  float64
 9   Preferred Foot            17907 non-null  object
 10  International Reputation  17907 non-null  float64
 11  Skill Moves               17907 non-null  float64
 12  Position                  17907 non-null  object
 13  Joined                    17907 non-null  int64
 14  Contract Valid Until      17907 non-null  object
 15  Height                    17907 non-null  float64
 16  Weight                    17907 non-null  float64
 17  Release Clause            17907 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

<ipython-input-14-2fd4d43cb58e>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
<ipython-input-14-2fd4d43cb58e>:9: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  elif pd.api.types.is_categorical_dtype(data[col]):
<ipython-input-14-2fd4d43cb58e>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna('Unknown', inplace=True)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

In [30]:
# prompt: perform data visualization properly of the clean data

import matplotlib.pyplot as plt
# Assuming 'data' DataFrame is already cleaned as in the previous code.

# Example visualizations:

# 1. Histogram for a numerical column:
plt.figure(figsize=(8, 6))
sns.histplot(data['Item_Weight'], kde=True)  # Replace 'Item_Weight' with your numerical column
plt.title('Distribution of Item Weights')
plt.xlabel('Item Weight')
plt.ylabel('Frequency')
plt.show()

# 2. Box plot for a numerical column:
plt.figure(figsize=(8, 6))
sns.boxplot(x=data['Item_Outlet_Sales'])  # Replace 'Item_Outlet_Sales' with your numerical column
plt.title('Box Plot of Item Outlet Sales')
plt.show()

# 3. Count plot for a categorical column:
plt.figure(figsize=(10, 6))
sns.countplot(x=data['Outlet_Location_Type'])  # Replace 'Outlet_Location_Type' with your categorical column
plt.title('Number of Outlets by Location Type')
plt.xlabel('Outlet Location Type')
plt.ylabel('Count')
plt.xticks(rotation=45)  # Rotate x-axis labels if needed
plt.show()


# 4. Scatter plot for relationship between two numerical columns:
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Item_Weight', y='Item_Outlet_Sales', data=data) # Example columns, replace as needed
plt.title('Relationship between Item Weight and Item Outlet Sales')
plt.xlabel('Item Weight')
plt.ylabel('Item Outlet Sales')
plt.show()

# 5. Pairplot for multiple numerical columns:
#sns.pairplot(data[['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Outlet_Sales']]) # Example columns, replace as needed
#plt.show()


# 6. Heatmap for correlation between numerical columns:
plt.figure(figsize=(12, 8))
correlation_matrix = data.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix of Numerical Features')
plt.show()

# Add more visualizations as needed based on your data and analysis goals.
# Remember to replace placeholder column names with the actual names from your dataset.

KeyError: 'Item_Weight'

In [27]:
# prompt: perform data Visualization

import matplotlib.pyplot as plt
# Assuming the correct column name is 'ItemOutletSales' - adjust if needed
sales_column_name = 'Item_Outlet_Sales'  # Replace with the actual column name

# Visualizations
plt.figure(figsize=(10, 6))
# Use the sales_column_name variable to access the column
sns.histplot(data[sales_column_name], kde=True)
plt.title('Distribution of Item Outlet Sales')
plt.xlabel('Item Outlet Sales')
plt.ylabel('Frequency')
plt.show()


# Box plot to visualize the distribution of a numerical column
plt.figure(figsize=(8, 6))
# Use the sales_column_name variable here as well
sns.boxplot(x='Item_Type', y=sales_column_name, data=data)
plt.title('Item Outlet Sales by Item Type')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.show()


# Scatter plot to show the relationship between two numerical columns
plt.figure(figsize=(8, 6))
# Use the sales_column_name variable here too
sns.scatterplot(x='Item_MRP', y=sales_column_name, data=data)
plt.title('Item MRP vs. Item Outlet Sales')
plt.show()


# Pairplot to visualize relationships between multiple numerical columns
#sns.pairplot(data[['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Outlet_Sales']])
#plt.show()


#Heatmap of correlation between numerical features

plt.figure(figsize=(12,8))
correlation_matrix = data.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix of Numerical Features')
plt.show()

# Bar plot for categorical features
plt.figure(figsize=(10,6))
item_type_counts = data['Item_Type'].value_counts()
sns.barplot(x=item_type_counts.index, y=item_type_counts.values)
plt.title('Item Type Counts')
plt.xticks(rotation=90)
plt.xlabel('Item Type')
plt.ylabel('Count')
plt.show()

KeyError: 'Item_Outlet_Sales'